html,
body {
  background-color: #f8f8f8;
}

nav {
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.nav-link,
.nav-link:hover,
nav > a,
nav > a:hover {
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
}

.login-box,
.dashboard {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

/* Login Page  */

.login-box {
  width: 360px;
  margin: 5% auto;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 40px 40px;
}

.form-group {
  text-align: left;
}

/* Dashboard */

.dashboard {
  margin: 50px 80px;
  padding: 30px 30px;
}

.dashboard-topbar {
  text-align: left;
}

.dashboard-title {
  font-size: 2rem;
  font-weight:bold;
}

/* Reviewer Main page divisions */
html, body {
    height:100%;
}

.full-height {
	height: 100%;
}

#reviewerNav {
	height:80%;
	background-color:#edeef0;
}

#reviewerInfo {
	height:20%;
}