<!--  this page is a basic add a comment page that would store the comment into the database -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Comment page</title>
</head>
<body>
      <form action="#" th:action="@{'/addComment/' + ${paperId}}" method="post"> 
        <h3>Enter comment</h3>

          <label>Comment:</label>
          <input type="text" name="comment"/> 

        <input type="submit" value="enter" />
      </form>

</body>
</html>
