<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Admin | Add User</title>
  </head>
	<body>
		<nav th:replace="baseTemplate :: topNavWLogout"></nav>
		<div class="container-fluid full-height blue-gradient">
			<div class="row">
				<div class="login-box">
					<form action="#" th:action="@{/save}" th:object="${user}" method="post">
				
					<h3>Add User</h3>
						<div class="form-group">
							<label for="username">Username:</label>
							<input class="form-control" id="username" type="text" th:field="*{userName}" />
						</div>
                        
                        <div class="form-group">
							<label for="password">Password:</label>
							<input class="form-control" type="text" th:field="*{password}" />
						</div>
                        
                        <div class="form-group">
							<label for="email">Email:</label>
							<input class="form-control" id="email" type="text" th:field="*{email}" />
						</div>
                        
                        <div class="form-group">
							<label for="active">Active:</label>
							<input class="form-control" id="active" type="text" th:field="*{active}" />
						</div>
                        
                        <div class="form-group">
							<label for="roles">Roles:</label>
							<input class="form-control" id="roles" type="text" th:field="*{roles}" />
						</div>
                        
                        <div class="form-group">
							<label for="firstName">First Name:</label>
							<input class="form-control" id="firstName" type="text" th:field="*{firstName}" />
						</div>
                        
                        <div class="form-group">
							<label for="lastName">Last Name:</label>
							<input class="form-control" id="lastName" type="text" th:field="*{lastName}" />
						</div>
						
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Save</button>
						</div>
						
					</form>
					<div class="d-flex justify-content-end">
						<button type="button"  class="btn btn-outline-dark" onclick="goBack()">
							<i class="fas fa-arrow-left"></i> Back
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<footer>
		<script>
		function goBack() {
		  window.history.back();
		}
		</script>
	</footer>
</html>