<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Author</title>
  </head>
  <body>
    <nav th:replace="baseTemplate :: topNav"></nav>

    <div class="container-fluid">
      <div class="dashboard">
        <div class="dashboard-topbar">
          <span class="dashboard-title">Welcome, Author <span th:text="${firstName}"></span></span>
          <form action="/uploadForm">
            <button class="btn btn-primary btn-lg float-right">
              📃 New Paper
            </button>
          </form>
        </div>
        <br />
        <div class="container-fluid" style="padding-top: 2%;">
        	<table class="table table-bordered table-hover">
	          <thead>
	            <tr>
	              <th scope="col">Title</th>
	              <th scope="col">Topic</th>
	              <th scope="col">Submission Date</th>
	              <th scope="col">Submission Deadline</th>
	              <th scope="col">File Name</th>
	              <th scope="col">Download</th>
	              <th scope="col">Add Reviewer</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="paper : ${listPapers}">
	              <td th:text="${paper.title}">Title</td>
	              <td th:text="${paper.topic}">Topic</td>
	              <td th:text="${paper.submissionDate}">Submission Date</td>
	              <td th:text="${paper.submissionDeadline}">Submission Deadline</td>
	              <td th:text="${paper.fileName}">File Name</td>
	              <td>
	                <a th:href="@{'/downloadFile/' + ${paper.paperId}}">Download</a>
	                <a th:href="@{'/reuploadForm/' + ${paper.paperId}}">Re-upload</a >
	              </td>
	              <td>
	                <a  th:href="@{'/authorAddReviewer/' + ${paper.paperId}}">Add Reviewer</a>
	              </td>
	            </tr>
	          </tbody>
	        </table>
        </div>
        
      </div>
    </div>
  </body>

  <footer>
    <div th:insert="baseTemplate :: bootstrap-scripts"></div>
  </footer>
</html>
