<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Author</title>
    <meta
      http-equiv="Content-Type"
      xmlns:th="https://www.thymeleaf.org"
      content="text/html; charset=UTF-8"
    />

    <!-- Bootstrap Stylesheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <span>Journalr</span>
      </a>
      <button
        class="navbar-toggler navbar-light"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li></li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="dashboard">
        <div class="dashboard-topbar">
          <span class="dashboard-title">Author Dashboard</span>
          <button
            class="btn btn-primary btn-lg float-right"
            data-toggle="modal"
            data-target="#new-paper-modal"
          >
            📃 New Paper
          </button>
        </div>
        <br />
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Paper Name</th>
              <th scope="col">Last Updated</th>
              <th scope="col">Status</th>
              <th scope="col">Reviewer</th>
              <th scope="col">File</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Machine Learning</th>
              <td>Sept. 5, 2020</td>
              <td>Under Review</td>
              <td>John Doe</td>
              <td>
                <button type="button" class="btn btn-link">Download</button>
              </td>
            </tr>
            <tr>
              <th scope="row">Machine Learning</th>
              <td>Sept. 5, 2020</td>
              <td>Under Review</td>
              <td>John Doe</td>
              <td>
                <button type="button" class="btn btn-link">Download</button>
              </td>
            </tr>
            <tr>
              <th scope="row">Machine Learning</th>
              <td>Sept. 5, 2020</td>
              <td>Under Review</td>
              <td>John Doe</td>
              <td>
                <button type="button" class="btn btn-link">Download</button>
              </td>
            </tr>
            <tr>
              <th scope="row">Machine Learning</th>
              <td>Sept. 5, 2020</td>
              <td>Under Review</td>
              <td>John Doe</td>
              <td>
                <button type="button" class="btn btn-link">Download</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Paper Submission Form -->
    <div
      class="modal fade"
      id="new-paper-modal"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">
              Submit New Paper
            </h3>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post">
              <div class="form-group">
                <label for="paperName">Paper Name</label>
                <input
                  type="text"
                  name="paperName"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="document">Document Upload</label>
                <input
                  type="file"
                  name="document"
                  class="form-control"
                  accept=".doc,.pdf,.docx"
                  required
                />
              </div>
              <input type="submit" class="btn btn-outline-primary" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
