<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Add Reviewer</title>
</head>
<body>
    <div align="center">
        <h1>Add Reviewer</h1>
        <br />

        <form th:action="@{'/authorAddReviewer/' + ${paper1.paperId}}"  method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>Reviewer 1:</td>
                    <td>
                        <select name="revId1">
                            <option th:value="-1" th:text="None"></option>
                            <option th:each="potentialReviewer : ${listPotentialReviewers}"  
                                    th:value="${potentialReviewer.userId}" 
                                    name="revId1"
                                    th:text="${potentialReviewer.firstName} + ${potentialReviewer.lastName}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Reviewer 2:</td>
                    <td>
                        <select name="revId2">
                            <option th:value="-1" th:text="None"></option>
                            <option th:each="potentialReviewer : ${listPotentialReviewers}"  
                                    th:value="${potentialReviewer.userId}" 
                                    name="revId2"
                                    th:text="${potentialReviewer.firstName} + ${potentialReviewer.lastName}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Reviewer 3:</td>
                    <td>
                        <select name="revId3">
                            <option th:value="-1" th:text="None"></option>
                            <option th:each="potentialReviewer : ${listPotentialReviewers}"  
                                    th:value="${potentialReviewer.userId}" 
                                    name="revId3"
                                    th:text="${potentialReviewer.firstName} + ${potentialReviewer.lastName}"></option>
                        </select>
                    </td>
                </tr>           
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>