<!-- I commented this out and placed the new version with the search for reviewer below

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Author | Add Reviewer</title>
  </head>
	<body>
		<nav th:replace="baseTemplate :: topNavWLogout"></nav>
		<div class="container-fluid full-height blue-gradient">
			<div class="row">
				<div class="login-box">
					<form th:action="@{'/authorAddReviewer/' + ${paper1.paperId}}"  method="post">
				
					<h3>Add Reviewer</h3>
						<div class="form-group">
							<label for="rev1">Reviewer 1:</label>
							<select id="rev1" name="revId1">
                                <option th:value="-1" th:text="None"></option>
                                <option th:each="potentialReviewer : ${listPotentialReviewers}"  
                                        th:value="${potentialReviewer.userId}" 
                                        name="revId1"
                                        th:text="${potentialReviewer.firstName} + ${potentialReviewer.lastName}"></option>
                            </select>
						</div>
                        
                        <div class="form-group">
							<label for="rev2">Reviewer 2:</label>
							<select id="rev2" name="revId2">
                                <option th:value="-1" th:text="None"></option>
                                <option th:each="potentialReviewer : ${listPotentialReviewers}"  
                                        th:value="${potentialReviewer.userId}" 
                                        name="revId2"
                                        th:text="${potentialReviewer.firstName} + ${potentialReviewer.lastName}"></option>
                            </select>
						</div>
						
                        <div class="form-group">
							<label for="rev3">Reviewer 3:</label>
							<select id="rev3" name="revId3">
                                <option th:value="-1" th:text="None"></option>
                                <option th:each="potentialReviewer : ${listPotentialReviewers}"  
                                        th:value="${potentialReviewer.userId}" 
                                        name="revId3"
                                        th:text="${potentialReviewer.firstName} + ${potentialReviewer.lastName}"></option>
                            </select>
						</div>
                        
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Save</button>
							
						</div>
						
					</form>
					<button type="button" class="btn btn-outline-dark" onclick="goBack()">
						<i class="fas fa-arrow-left"></i> Back
					</button>
				</div>			
			</div>			
		</div>
	
	</body>
	<footer>
		<script>
		function goBack() {
		  window.history.back();
		}
		</script>
	</footer>
</html> 
-->

<!-- NEW with search for reviewer by name -->
<!-- I added the email and affiliation with the dropdown search options incase multiple reviewers have the same name -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Author | Add Reviewer</title>
  </head>
	<body>
		<nav th:replace="baseTemplate :: topNavWLogout"></nav>
		<div class="container-fluid full-height blue-gradient">
			<div class="row">
				<div class="login-box">
					<form th:action="@{'/authorAddReviewer/' + ${paper1.paperId}}"  method="post">
				
					<h3>Add Reviewer</h3>
						<div class="form-group">
							<label for="rev1">Reviewer 1:</label>
	                 		<input class="form-control" type="text" name="revName1" list="rev1" placeholder="None"/>
	                        <datalist id="rev1">
	                            <option th:value="None" th:text="None"></option>
	                            <option th:each="reviewer : ${listPotentialReviewers}"
										th:value="${reviewer.firstName} + ' ' + ${reviewer.lastName} + '  (ID:' + ${reviewer.userId} + ')'"
	                                    th:text="${reviewer.firstName} + ' ' + ${reviewer.lastName} + '  (Email: ' +  ${reviewer.email} + ' | ' + 'Affiliation: ' + ${reviewer.affiliation} + ')'"
	                                    ></option>
							</datalist>
						</div>
                        
                        <div class="form-group">
							<label for="rev2">Reviewer 2:</label>
	                 		<input class="form-control" type="text" name="revName2" list="rev2" placeholder="None"/>
	                        <datalist id="rev2">
	                            <option th:value="None" th:text="None"></option>
	                            <option th:each="reviewer : ${listPotentialReviewers}"
										th:value="${reviewer.firstName} + ' ' + ${reviewer.lastName} + '  (ID:' + ${reviewer.userId} + ')'"
	                                    th:text="${reviewer.firstName} + ' ' + ${reviewer.lastName} + '  (Email: ' +  ${reviewer.email} + ' | ' + 'Affiliation: ' + ${reviewer.affiliation} + ')'"
	                                    ></option>
							</datalist>
						</div>
						
                        <div class="form-group">
							<label for="rev3">Reviewer 3:</label>
	                 		<input class="form-control" type="text" name="revName3" list="rev3" placeholder="None"/>
	                        <datalist id="rev3">
	                            <option th:value="None" th:text="None"></option>
	                            <option th:each="reviewer : ${listPotentialReviewers}"
										th:value="${reviewer.firstName} + ' ' + ${reviewer.lastName} + '  (ID:' + ${reviewer.userId} + ')'"
	                                    th:text="${reviewer.firstName} + ' ' + ${reviewer.lastName} + '  (Email: ' +  ${reviewer.email} + ' | ' + 'Affiliation: ' + ${reviewer.affiliation} + ')'"
	                                    ></option>
							</datalist>
						</div>
                        
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Save</button>
							
						</div>
						
					</form>
					<button type="button" class="btn btn-outline-dark" onclick="goBack()">
						<i class="fas fa-arrow-left"></i> Back
					</button>
				</div>			
			</div>			
		</div>
	
	</body>
	<footer>
		<script>
		function goBack() {
		  window.history.back();
		}
		</script>
	</footer>
</html>
