<!--  this page is a basic add a comment page that would store the comment into the database -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Comment page</title>
</head>
<body>
      <form th:action="@{/comment}" th:object="${comment}" method="post">
        <h3>enter comment</h3>

          <label for="username">Comment:</label>
          <input type="text" id="comment" name="comment" autofocus="autofocus"/> 

        <input type="submit" value="enter" />
      </form>

</body>
</html>