<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Set Deadline</title>
</head>
<body>
    <div align="center">
        <h1>Set Deadline</h1>
        <br />
      <form action="#" th:action="@{'/editDeadline/' + ${paperId}}" method="post"> 
         <table>
				<tr>			
					<td>Date:</td>
					<td><input type="date" name="date" /></td>  
				</tr>
				<tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
        </form>
    </div>
</body>
</html>