<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="baseTemplate :: header">
    </head>
    
    <body>
    	<nav th:replace="baseTemplate :: topNav">
	     </nav>
    	<div class="container-fluid full-height">
    		<div class="row">
    			<h1>=====================</h1>
    		</div>
   			<div class="row">
   				<h1>Editor Manage Papers</h1>
   			</div>	
			<div class="row">
				<h1>=====================</h1>
    		</div>
    		<div class="row">
    			
    		</div>
    	</div>
	     
     </body>
</html>