<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Editor</title>
  </head>

  <body>
    <nav th:replace="baseTemplate :: topNav"></nav>

    <div class="container-fluid">
      <div class="dashboard">
        <div class="dashboard-topbar">
          <span class="dashboard-title">Editor Dashboard</span>
        </div>
        <br />
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Submission Date</th>
              <th scope="col">Submission Deadline</th>
              <th scope="col">Download</th>
              <th scope="col">Reviewers</th>
              <th scope="col">Add</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="paper : ${allPapers}">
              <td th:text="${paper.title}">Title</td>
              <td th:text="${paper.submissionDate}">Submission Date</td>
              <td th:text="${paper.submissionDeadline}">Submission Deadline</td>
              <td>
                <a th:href="@{'/download/' + ${paper.paperID}}">Download</a>
              </td>
              <td>
                <a th:href="@{'/reviewersperpaper/' + ${paper.paperID}}">Reviewers</a>
              </td>
              <td>
                <a th:href="@{'/addjournal/' + ${paper.paperID}}">Add</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <footer>
    <div th:insert="baseTemplate :: bootstrap-scripts"></div>
  </footer>
</html>
