<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Home</title>
  </head>

  <body class="blue-gradient">
    <!-- Navigation Bar-->
    <nav th:replace="baseTemplate :: topNavWLogin"></nav>

    <div class="container-fluid" id="homeContainer">
      <div
        class="row align-items-center justify-content-center"
        style="height: 80%;"
      >
        <div
          class="row justify-content-center"
          style="margin-top: 35px; margin-bottom: 50px;"
        >
          <h1 class="display-3" style="color: white;"><kbd>Journalr</kbd></h1>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 50px;">
          <p style="width: 50%; color: white;">
            This is the Journalr Web Application. It's purpose is to create a
            platform to manage to the interaction between Authors, Editors and
            Reviewers of a larger Journal collection. Authors write and submit
            their Journals, get responses and updates from the Editors and
            Reviewers and more! Login with your account to get started!
          </p>
        </div>
        <div class="row justify-content-center">
          <p style="width: 30%; color: white;">
            <kbd>
              Developed by: Amman Yusuf, Isabella Guimet Pedraz, Harry Chen,
              David Macababayao and Kevin Sunkwa-Mills</kbd
            >
          </p>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div th:insert="baseTemplate :: bootstrap-scripts"></div>
  </footer>
</html>
