<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="baseTemplate :: header(${pageTitle})">
    </head>
    
    <body>
    	<nav th:replace="baseTemplate :: topNav">
	     </nav>
	     
	     <div class="container-fluid full-height">
	     	<div class="row full-height">
	     		<div th:replace="reviewerTemplate :: userNav">
	     		</div>
	     		<div class="col-sm-9 blue-gradient" id="scroller">
	     			<div class="full-height table-responsive" style="background-color:white;">
                        <!-- Table with all papers related to the Reviewer user -->
                        <a>Pending For Accept/Rejection</a>
	     				<table class="table table-striped">
						  <thead>
						    <tr>
						    <!-- Table headers -->
                                <th scope="col">Title</th>
                                <th scope="col">Topic</th>
                                <th scope="col">Submission Date</th>
                                <th scope="col">Submission Deadline</th>
                                <th scope="col">File Name</th>         
                                <th scope="col">Download Link</th>
                                <th scope="col">Accept</th> 
                                <th scope="col">Reject</th>  
						    </tr>
						  </thead>
						  <tbody>
						  <!-- Table showing all potentially to be accepted papers -->
                            <tr th:each="potentialAcceptedPapers : ${listPotentialAcceptedPapers}">
                                <td th:text="${potentialAcceptedPapers.title}">Title</td>
                                <td th:text="${potentialAcceptedPapers.topic}">Topic</td>
                                <td th:text="${potentialAcceptedPapers.submissionDate}">Submission Date</td>
                                <td th:text="${potentialAcceptedPapers.submissionDeadline}">Submission Deadline</td>
                                <td th:text="${potentialAcceptedPapers.fileName}">File Name</td>
                                <td>
                                    <a th:href="@{downloadFile/{id}(id=${potentialAcceptedPapers.paperId})}">Download</a>
                                </td>
                                <td>
                                    <a th:href="@{'/acceptPaper/' + ${potentialAcceptedPapers.paperId}}">Accept</a>
                                </td>
                                <td>
                                    <a th:href="@{'/rejectPaper/' + ${potentialAcceptedPapers.paperId}}">Reject</a>
                                </td>
                            </tr>
						  </tbody>
	     			</div>	
	     		</div>
	     	</div>
	     </div>
    </body>

</html>