<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Reviewer</title>
  </head>

  <body>
    <nav th:replace="baseTemplate :: topNavWLogout"></nav>

    <div class="container-fluid full-height">
      <div class="row full-height">
        <div th:replace="reviewerTemplate :: userNav"></div>

        <div class="col-sm-9 blue-gradient" id="scroller">
            <form
            th:action="@{/reviewer}"
            method="post"
            >
            <h3>Update Topic And Affiliation</h3>
            <div class="form-group">
              <label for="topic">Topic:</label>
              <select th:field="${reviewerHomePage.favouriteTopic}" class="form-control" id="topic" name="topic">
                <option th:value="None" th:text="None"></option>
                <option th:value="fiction">Fiction</option>
								<option th:value="cpsc">Computer Science</option>
								<option th:value="math">Math</option>
								<option th:value="non-fiction">Non-fiction</option>
								<option th:value="Academics">Academics</option>
              </select>
            </div>

            <div class="form-group">
              <label for="affiliation">Affiliation</label>
              <select th:field="${reviewerHomePage.affiliation}" class="form-control" id="affiliation" name="affiliation">
                <option th:value="None" th:text="None"></option>
                <option th:value="University_Of_Calgary">University Of Calgary</option>
								<option th:value="University_Of_Edmonton">University Of Edmonton</option>
								<option th:value="University_Of_Toronto">University Of Toronto</option>
								<option th:value="University_Of_British_Columbia">University Of British Columbia</option>
								<option th:value="University_Of_Waterloo">University Of Waterloo</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div th:insert="baseTemplate :: bootstrap-scripts"></div>
  </footer>
</html>
