<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="baseTemplate :: header">
    </head>
    
    <body>
    	<nav th:replace="baseTemplate :: topNav">
	     </nav>
	     
	     <div class="container-fluid full-height">
	     	<div class="row full-height">
	     		<div th:replace="reviewerTemplate :: userNav">
	     		</div>
	     		<div class="col-sm-9" id="scroller">
	     			<div class="full-height table-responsive">
	     			<!-- Table with all papers related to the Reviewer user -->
	     				<table class="table table-striped">
						  <thead class="">
						    <tr>
						    <!-- Table headers -->
						      <th scope="col">Paper Title</th>
						      <th scope="col" class="">Author</th>
						      <th scope="col">Submission Date</th>
						      <th scope="col">Download Link</th>
						    </tr>
						  </thead>
						  <tbody>
						  <!-- Table rows with injected data, each title has a link to download the corresponding papers -->
						    <tr>
						      <td>The adventure of the Corgi</td>
						      <td>Aaron Mario</td>
						      <td>2020-03-28</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>Walking Without Training Wheels</td>
						      <td>Jacob Thornton</td>
						      <td>2020-07-24</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The Life and Times of Robot Boy</td>
						      <td>Annie Bird</td>
						      <td>2020-05-16</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The adventure of the Corgi</td>
						      <td>Aaron Mario</td>
						      <td>2020-03-28</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>Walking Without Training Wheels</td>
						      <td>Jacob Thornton</td>
						      <td>2020-07-24</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The Life and Times of Robot Boy</td>
						      <td>Annie Bird</td>
						      <td>2020-05-16</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The adventure of the Corgi</td>
						      <td>Aaron Mario</td>
						      <td>2020-03-28</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>Walking Without Training Wheels</td>
						      <td>Jacob Thornton</td>
						      <td>2020-07-24</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The Life and Times of Robot Boy</td>
						      <td>Annie Bird</td>
						      <td>2020-05-16</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The adventure of the Corgi</td>
						      <td>Aaron Mario</td>
						      <td>2020-03-28</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>Walking Without Training Wheels</td>
						      <td>Jacob Thornton</td>
						      <td>2020-07-24</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The Life and Times of Robot Boy</td>
						      <td>Annie Bird</td>
						      <td>2020-05-16</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The adventure of the Corgi</td>
						      <td>Aaron Mario</td>
						      <td>2020-03-28</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>Walking Without Training Wheels</td>
						      <td>Jacob Thornton</td>
						      <td>2020-07-24</td>
						      <td><a href="">Download</a></td>
						    </tr>
						    <tr>
						      <td>The Life and Times of Robot Boy</td>
						      <td>Annie Bird</td>
						      <td>2020-05-16</td>
						      <td><a href="">Download</a></td>
						    </tr>
						  </tbody>
						</table>
	     			</div>	
	     		</div>
	     	</div>
	     </div>
    </body>

</html>