<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Reviewers | Reviewers Per Paper</title>
  </head>

  <body class="blue-gradient">
    <nav th:replace="baseTemplate :: topNavWLogout"></nav>

    <div class="container-fluid">
      <div class="dashboard">
        <div class="dashboard-topbar">
          <div class="d-flex justify-content-between">
            <div>
              <span class="dashboard-title" th:text="${paper.title}"
                >Paper</span
              >
              <span class="dashboard-title"> Reviewers</span>
            </div>
            <form action="/editor">
              <button class="btn btn-primary btn-lgt">
                Back
              </button>
            </form>
          </div>
        </div>
        <br />
        <p class="text-success">Approved</p>
        <div th:if="${#lists.isEmpty(listApprovedReviewers)}">
        	<div th:replace="baseTemplate :: emptyTable"></div><br>
        </div>
        
        <div th:unless="${#lists.isEmpty(listApprovedReviewers)}">
	        <table class="table table-bordered table-hover">
	          <thead>
	            <tr>
	              <th scope="col">First Name</th>
	              <th scope="col">Last Name</th>
	              <th scope="col">Remove</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="user : ${listApprovedReviewers}">
	              <td th:text="${user.firstName}">Firt Name</td>
	              <td th:text="${user.lastName}">Last Name</td>
	              <td>
	                <a
	                  th:href="@{'/removereviewer/' + ${user.userId} + '/' + ${paper.paperId}}"
	                  >Remove</a
	                >
	              </td>
	            </tr>
	          </tbody>
	        </table>
	    </div>
        <p class="text-warning">Pending</p>
        <div th:if="${#lists.isEmpty(listPendingReviewers)}">
        	<div th:replace="baseTemplate :: emptyTable"></div><br>
        </div>
        
        <div th:unless="${#lists.isEmpty(listPendingReviewers)}">
	        <table class="table table-bordered table-hover">
	          <thead>
	            <tr>
	              <th scope="col">First Name</th>
	              <th scope="col">Last Name</th>
	              <th scope="col">Add</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="user : ${listPendingReviewers}">
	              <td th:text="${user.firstName}">Firt Name</td>
	              <td th:text="${user.lastName}">Last Name</td>
	              <td>
	                <a
	                  th:href="@{'/addreviewer/' + ${user.userId} + '/' + ${paper.paperId}}"
	                  >Add</a
	                >
	              </td>
	            </tr>
	          </tbody>
	        </table>
	     </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
