<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head th:replace="baseTemplate :: header(title=~{::title/text()})">
    <title>Reviewer | Comments</title>
  </head>
  <body class="blue-gradient">
    <nav th:replace="baseTemplate :: topNavWLogout"></nav>

    <div class="container-fluid full-height">
      <div class="full-height">
        <div class="dashboard">
          <div class="dashboard-topbar">
            <div class="row">
              <span class="dashboard-title"
                >Comments For <span th:text="${paperTitle}"></span
              ></span>
            </div>
          </div>
          <br />
          <div class="container-fluid" style="padding-top: 2%;">
            <!-- Table for comments for major revision -->
            <h4> Comments For Major Revision</h4>
            <br>
            <div th:if="${#lists.isEmpty(listOfCommentsOfReviewerMajorRev)}">
	        	<div th:replace="baseTemplate :: emptyTable"></div><br>
	        </div>
        	<div th:unless="${#lists.isEmpty(listOfCommentsOfReviewerMajorRev)}">
	            <table class="table table-bordered table-hover">
	              <thead>
	                <tr>
	                  <th scope="col">Comment</th>
	                  <th scope="col">By</th>
	                  <th scope="col">Commented On</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr
	                  th:each="commentsMajorRev : ${listOfCommentsOfReviewerMajorRev}"
	                >
	                  <td th:text="${commentsMajorRev.comment}">Comment</td>
	                  <td th:text="${commentsMajorRev.reviewer.firstName} + ' ' + ${commentsMajorRev.reviewer.lastName}">By</td>
	                  <td th:text="${commentsMajorRev.commentDate}">
	                    Commented On
	                  </td>
	                </tr>
	              </tbody>
	            </table>
			</div>
            <!-- Table for comments for minor revision -->
            <h4>Comments For Minor Revision </h4>
            <br>
            <div th:if="${#lists.isEmpty(listOfCommentsOfReviewerMinorRev)}">
	        	<div th:replace="baseTemplate :: emptyTable"></div><br>
	        </div>
        	<div th:unless="${#lists.isEmpty(listOfCommentsOfReviewerMinorRev)}">
	            <table class="table table-bordered table-hover">
	              <thead>
	                <tr>
	                  <th scope="col">Comment</th>
	                  <th scope="col">By</th>
	                  <th scope="col">Commented On</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr
	                  th:each="commentsMinorRev : ${listOfCommentsOfReviewerMinorRev}"
	                >
	                  <td th:text="${commentsMinorRev.comment}">Comment</td>
	                  <td th:text="${commentsMinorRev.reviewer.firstName} + ' ' + ${commentsMinorRev.reviewer.lastName}">By</td>
	                  <td th:text="${commentsMinorRev.commentDate}">
	                    Commented On
	                  </td>
	                </tr>
	              </tbody>
	            </table>
			</div>
            <!-- Table for general-->
            <h4>General Comments </h4>
            <br>
            <div th:if="${#lists.isEmpty(listOfCommentsOfReviewerGeneral)}">
	        	<div th:replace="baseTemplate :: emptyTable"></div><br>
	        </div>
        	<div th:unless="${#lists.isEmpty(listOfCommentsOfReviewerGeneral)}">
	            <table class="table table-bordered table-hover">
	              <thead>
	                <tr>
	                  <th scope="col">Comment</th>
	                  <th scope="col">By</th>
	                  <th scope="col">Commented On</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr
	                  th:each="commentsGeneral : ${listOfCommentsOfReviewerGeneral}"
	                >
	                  <td th:text="${commentsGeneral.comment}">Comment</td>
	                  <td th:text="${commentsGeneral.reviewer.firstName} + ' ' + ${commentsGeneral.reviewer.lastName}">By</td>
	                  <td th:text="${commentsGeneral.commentDate}">Commented On</td>
	                </tr>
	              </tbody>
	            </table>
	         </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div th:insert="baseTemplate :: bootstrap-scripts"></div>
  </footer>
</html>
